<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="~{fragments::header}">
</head>

<body class="bg-gradient-primary">

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                </div>
                                <div th:if="${param.error}" class="alert alert-danger text-center">
                                    Invalid username or password
                                </div>
                                <div th:if="${param.logout}" class="alert alert-success text-center">
                                    You have been logged out!
                                </div>
                                <form class="user needs-validation" th:action="@{/do-login}" method="post" novalidate>
                                    <div class="form-group">
                                        <input type="email" name="username" class="form-control"
                                               id="username" aria-describedby="emailHelp"
                                               placeholder="Enter Email" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" id="password"
                                               class="form-control"
                                               placeholder="Password" required>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-block">
                                        Login
                                    </button>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" th:href="@{/forgot-password}" href="forgot-password.html">Forgot
                                        Password?</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" th:href="@{/register}" href="register.html">Create an Account!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<div th:replace="~{fragments::script}"></div>
<script>
    (function () {
        'use strict';

        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');

            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
</body>

</html>